section {
	padding-bottom: 3rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

#account-info-user-id {
	margin-bottom: 0.5rem;
}

#account-info-email-address {
	margin-bottom: 1rem;
}

#update-password-description {
	margin-bottom: 1rem;
}

#sign-out-controls {
	display: flex;
	place-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

#delete-account-description {
	margin-bottom: 1rem;
}
